
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
/allure-report/
/allure-results/

# Cucumber Reports
/cucumber-report.html
/cucumer-report.html

# Screenshots
/screenshot/
/screenshots/

# Environment files
.env

# Generated screenshots
partialSrc.png
srcAfterTestStep.png

# IDE / OS files
.vscode/
.DS_Store