
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Cucumber Reports
cucumber-report.html
/reports/

# Screenshots
/screenshots/
/screenshot/

# Environment files
.env

# IDE / OS files
.vscode/
.DS_Store